.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  background-color: rgb(169 217 217);

  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 4px;
}
